@each $width in $resposive-width {
    @media screen and (max-width: #{$width}px){ 

        section{
            &.header{
                .navbar{

                    .navbar-brand{
                        img{

                        }
                    }
                    .navbar-toggler{

                    }

                    .navbar-collapse{
                        @if($width >= 800){
                            background-color: #eaea22;
                            opacity: 1;
                            position: absolute;
                            height: 100vh;
                            width: 100%;
                            z-index: 9;
                            top: 75px;
                            left: 0;
                        }

                        .navbar-nav{

                            height: 80%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-around;
                            .nav-item{
                                .nav-link{
                                    @if($width <= 800){
                                        color: black!important;
                                        font-family: 'Montserrat-SemiBold';
                                        font-size: 15px;
                                        font-weight: bolder;
                                    }
                                    
                                    &.login-button{
                                        @if($width <= 800){
                                            padding-left: 7px;
                                            padding-right: 7px;
                                            border: 1px solid black;
                                        }
                                        
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
    
}

.body-overflow-hidden{
    overflow: hidden;
}