section{
    &.body{
        .header-middle{
            .container{
                .row{
                    .col-sm-12{
                        .register-as-tutor{
                            margin-top: 50px;
                            .container{
                                .row{
                                    .col-sm-12{
                                        .image-illustration-section{
                                            margin: auto;
                                            form{
                                                input{
                                                   
                                                }
                                                .file-text-under{
                                                    font-family: sans-serif;
                                                    font-size: 15px;
                                                    color: #0F0D0D;
                                                    font-weight: bold;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}