section{
    &.body{
        .tutor-profile-section{
            margin-top: 50px;
            background-color: #E9ECEF;
            box-shadow: 0px 0px 77px #0000000F;
            margin-left: 100px;
            margin-right: 100px;
            .basic-information{
                padding-top: 30px;
                padding-bottom: 30px;
                .container{
                    .row{
                        .col-sm-12{
                            .bs-info{
                                
                                .bs-info-name{
                                   display: flex;
                                   align-items: center;
                                    .left{
                                        margin-right: 30px;
                                        img{
                                            width: 100px;
                                            height: 100px;
                                            border-radius: 50%;
                                        }
                                    }
                                    .right{
                                        .info{
                                            color: #37474F;
                                            &.name{
                                                font-size: 26px;
                                                font-family: sans-serif;
                                                font-weight: bold;
                                            }

                                            &.mobile{
                                                font-size: 18px;
                                            }

                                            &.gmail{
                                                font-size: 12px;
                                            }
                                        }

                                    }
                                }

                                
                            }

                            .bs-info-edt-sgnout{
                                height: 100%;
                                text-align: right;
                                padding-right: 50px;
                                /* margin: auto; */
                                display: flex;
                                flex-direction: column;
                                /* align-items: center; */
                                justify-content: center;
                                .btn-edit-profile{
                                    
                                    a{
                                        width: auto;
                                        height: auto;
                                        background: $button-color;
                                        padding-left: 15px;
                                        padding-right: 15px;
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        text-decoration: none;
                                        color: white;
                                        border-radius: 10%;
                                    }
                                }
                                .btn-signout{
                                    margin-top: 20px;
                                    form{
                                        .logout-frm-tutor-profile{
                                            border: none;
                                            width: auto;
                                            height: auto;
                                            background: $button-color;
                                            padding-left: 15px;
                                            padding-right: 15px;
                                            padding-top: 10px;
                                            padding-bottom: 10px;
                                            text-decoration: none;
                                            color: white;
                                            border-radius: 10%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .details-information{
                .container{
                    .row{
                        .col-sm-12{
                            .profile-details-information{
                                ul{
                                    li{
                                        width: 300px;
                                        background-color: $button-color;
                                        margin-right: 20px;
                                        border-radius: 5%;
                                        &.active{
                                            border-radius: 5%;
                                            background-color: #616161;
                                        }
                                        
                                        a{
                                            color: white;
                                            &.active{
                                                background-color: #707070;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                .tab-content{
                                    background: #E9ECEF 0% 0% no-repeat padding-box;
                                    box-shadow: 0px 3px 6px #0000008A;
                                    border-radius: 20px;
                                    margin-right: 100px;
                                    margin-bottom: 50px;
                                    margin-top: 10px;
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    .tab-pane{
                                        .container{
                                            .row{
                                                .col-sm-12{
                                                    .left-informations{
                                                        .info-left{
                                                            font-size: 15px;
                                                            font-family: sans-serif;
                                                            color: #37474FB8;
                                                            padding-bottom: 20px;
                                                        }
                                                    }
                                                    .right-information{
                                                        .info-right{
                                                            font-size: 15px;
                                                            font-family: sans-serif;
                                                            color: #37474FB8;
                                                            padding-bottom: 20px;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .tutor-request-history{
                                            .container{
                                                .row{
                                                    .col-sm-12{
                                                        .active-tutions{
                                                            background: #E9ECEF 0% 0% no-repeat padding-box;
                                                            box-shadow: 0px 3px 6px #0000008A;
                                                            border-radius: 20px;
                                                            padding-top: 50px;
                                                            padding-left: 15px;
                                                            padding-right: 15px;
                                                            padding-bottom: 40px;
                                                            .title-button{
                                                                width: 100%;
                                                                padding-top: 5px;
                                                                padding-bottom: 5px;
                                                                background: #FFFFFF 0% 0% no-repeat padding-box;
                                                                border: 1px solid #707070;
                                                                border-radius: 50px;
                                                                text-align: center;
                                                                margin-bottom: 30px;

                                                            }

                                                            .active-tution-card{
                                                                background: #FFFFFF 0% 0% no-repeat padding-box;
                                                                box-shadow: 0px 3px 6px #0000004A;
                                                                border-radius: 10px;
                                                                display: flex;
                                                                align-items: center;
                                                                padding-top: 15px;
                                                                padding-bottom: 15px;
                                                                margin-bottom: 30px;
                                                                .left{
                                                                    align-items: center;
                                                                    padding-left: 5px;
                                                                    padding-right: 15px;
                                                                    .image{
                                                                        padding-right: 15px;
                                                                        img{
                                                                            width: 40px;
                                                                            height: 40px;
                                                                            border-radius: 50%;
                                                                        }
                                                                    }
                                                                    .info{
                                                                        .info-inf{
                                                                            
                                                                            font-family: sans-serif;
                                                                            color: #37474F;
                                                                            &.name{
                                                                                font-size: 10px;
                                                                            }

                                                                            &.medium{
                                                                                font-size: 8px;
                                                                            }
                                                                            &.location{
                                                                                font-size: 7px;
                                                                            }
                                                                        }
                                                                    }

                                                                }
                                                                .right{
                                                                    
                                                                    .details{
                                                                        margin-bottom: 10px;
                                                                        a{
                                                                            text-decoration: none;
                                                                            background: #7D7D7E;
                                                                            padding-left: 10px;
                                                                            padding-right: 10px;
                                                                            padding-top: 3px;
                                                                            padding-bottom: 3px;
                                                                            color: white;
                                                                            border-radius: 15px;
                                                                            font-size: 12px;
                                                                            &.accept{
                                                                                background-color: #00A99D;
                                                                               
                                                                            }

                                                                            &.ignore{
                                                                                background-color: #F32B2B;
                                                                            }

                                                                        }
                                                                    }

                                                                }
                                                            }

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}