section.header {
  background: linear-gradient(rgba(224, 219, 219, 0.5), rgba(241, 232, 232, 0.5)), url("../vendor/images/index/index_header_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh);
  mask-image: linear-gradient(to bottom, transparent 10%, black);
}
section.header nav {
  min-height: calc(100vh - 90vh);
}
section.header nav .navbar-brand {
  font-size: 32px;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
}
section.header nav .navbar-collapse .navbar-nav .nav-item {
  padding-left: 27px;
  padding-right: 27px;
}
section.header nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 17px;
  font-family: sans-serif;
  color: white;
}
section.header nav .navbar-collapse .navbar-nav .nav-item .nav-link.login-button {
  border: 1px solid white;
}
section.header .bg-light-color {
  background-color: #29ABE2;
}
section.header .header-middle {
  width: 100%;
  height: calc(100vh - 83px);
}
section.header .header-middle .container {
  height: 100%;
}
section.header .header-middle .container .row {
  height: 100%;
}
section.header .header-middle .container .row .col-sm-12 {
  margin: auto;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor {
  border-radius: 5%;
  width: auto;
  height: 390px;
  background-color: #F1F3F5;
  box-shadow: 0px 0px 77px #0000000F;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info {
  height: 100%;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .title {
  font-size: 18px;
  font-family: sans-serif;
  color: #495057;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .sub-title {
  font-size: 12px;
  font-family: sans-serif;
  color: #495057;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form {
  height: 100%;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form {
  height: 100%;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .body {
  height: 80%;
  margin: auto;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .body .flex-part {
  display: flex;
  margin: auto;
  height: 100%;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .body .flex-part .site {
  padding-left: 10px;
  padding-right: 10px;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .body .flex-part .left-side {
  width: 50%;
  margin-top: 20px;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .body .flex-part .left-side .form-group {
  margin-bottom: 1.5rem;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .body .flex-part .left-side .form-group .form-control {
  height: calc(1.5em + .75rem + 15px);
  background: #e4e3e3 0% 0% no-repeat padding-box;
  border: 1px solid #828282;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .body .flex-part .right-side {
  width: 50%;
  margin-top: 20px;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .body .flex-part .right-side .request-tutor-indexpage {
  border: none;
  border-radius: 5%;
  color: white;
  width: 162px;
  height: 50px;
  background: #7D7D7E 0% 0% no-repeat padding-box;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .body .flex-part .right-side .form-group {
  margin-bottom: 1.5rem;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .body .flex-part .right-side .form-group .form-control {
  height: calc(1.5em + .75rem + 15px);
  background: #e4e3e3 0% 0% no-repeat padding-box;
  border: 1px solid #828282;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .align-center {
  text-align: center;
}
section.header .header-middle .container .row .col-sm-12 .left-side .search-for-tutor .info .body-with-form form .align-center .view-all-tutors-button-index {
  font-size: 16px;
  font-family: sans-serif;
  color: #4D4D4D;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
}
section.header .header-middle .container .row .col-sm-12 .right-side .social-fix-position {
  position: fixed;
  right: 0;
  top: 50%;
}
section.header .header-middle .container .row .col-sm-12 .right-side .social-fix-position .social-section {
  display: flex;
  background-color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 48px;
  border-radius: 5%;
  align-items: center;
}
section.header .header-middle .container .row .col-sm-12 .right-side .social-fix-position .social-section .logo {
  padding-right: 5px;
  padding-left: 10px;
  width: 36px;
  height: auto;
}
section.header .header-middle .container .row .col-sm-12 .right-side .social-fix-position .social-section .text a {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  color: #6E797F;
}
section.footer {
  width: 100%;
  height: 345px;
  background-color: #29ABE2;
  border: 1px solid #979797;
  display: flex;
  align-items: center;
}
section.footer .container .row .col-sm-12 {
  margin: auto;
}
section.footer .container .row .col-sm-12 .office-location {
  display: flex;
  align-items: center;
}
section.footer .container .row .col-sm-12 .office-location .logo {
  width: 61px;
  height: 35px;
  background: black;
  margin-right: 20px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.footer .container .row .col-sm-12 .office-location .logo i::before {
  color: white;
}
section.footer .container .row .col-sm-12 .office-location .address {
  font-size: 16px;
  font-family: sans-serif;
  color: #EEEEEE;
}
section.footer .container .row .col-sm-12 .footer-nav ul li {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}
section.footer .container .row .col-sm-12 .footer-nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #EEEEEE;
}
section.footer .container .row .col-sm-12 .footer-contact-social .mobile-contact {
  display: flex;
  margin-bottom: 20px;
}
section.footer .container .row .col-sm-12 .footer-contact-social .mobile-contact .icon {
  height: 35px;
  width: 35px;
  /* background: white; */
  background-color: black;
  /* display: flex; */
  text-align: center;
  border-radius: 30%;
  margin-right: 15px;
}
section.footer .container .row .col-sm-12 .footer-contact-social .mobile-contact .icon i::before {
  color: white;
}
section.footer .container .row .col-sm-12 .footer-contact-social .mobile-contact .text {
  font-size: 22px;
  color: #FFFFFF;
  font-family: sans-serif;
}
section.footer .container .row .col-sm-12 .footer-contact-social .social-media-contact {
  display: flex;
}
section.footer .container .row .col-sm-12 .footer-contact-social .social-media-contact .icon {
  width: 35px;
  height: 35px;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 30%;
  margin-right: 15px;
}
section.footer .container .row .col-sm-12 .footer-contact-social .social-media-contact .icon i::before {
  color: white;
}
section.footer .container .row .col-sm-12 .payment-options {
  display: flex;
  align-items: center;
}
section.footer .container .row .col-sm-12 .payment-options .text {
  font-size: 18px;
  font-family: sans-serif;
  color: #F8F9FA;
}
section.footer .container .row .col-sm-12 .payment-options .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.footer .container .row .col-sm-12 .payment-options .icons .social-icons {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 5%;
}
section.footer .container .row .col-sm-12 .payment-options .icons .social-icons img {
  width: 30px;
  height: 30px;
}

section.body .header-middle .container .row .col-sm-12.remove-margin {
  margin: 0;
}
section.body .header-middle .container .row .col-sm-12 .filter-tutors {
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #E9ECEF;
}
section.body .header-middle .container .row .col-sm-12 .filter-tutors .title {
  font-size: 18px;
  padding-bottom: 10px;
  color: black;
  font-family: sans-serif;
}
section.body .header-middle .container .row .col-sm-12 .filter-tutors form .filter-options .request-tutor-tutorlist-page {
  width: 100%;
  height: 50px;
  background-color: #6d6363;
  border: none;
  border-radius: 5%;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}
section.body .header-middle .container .row .col-sm-12 .right-side .social-fix-position {
  position: fixed;
  right: 0;
  top: 50%;
}
section.body .header-middle .container .row .col-sm-12 .right-side .social-fix-position .social-section {
  display: flex;
  background-color: #b5b5b5;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 48px;
  border-radius: 5%;
  align-items: center;
}
section.body .header-middle .container .row .col-sm-12 .right-side .social-fix-position .social-section .logo {
  padding-right: 5px;
  padding-left: 10px;
  width: 36px;
  height: auto;
}
section.body .header-middle .container .row .col-sm-12 .right-side .social-fix-position .social-section .text a {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  color: #6E797F;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .title-lk-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .title-lk-button .title-button {
  border: none;
  background-color: #212529;
  color: white;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10%;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card {
  border: 1px solid #707070;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10%;
  margin-bottom: 25px;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .header {
  text-align: right;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .body {
  display: flex;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .body .left {
  margin: auto;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .body .left .profile-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .body .right {
  width: 100%;
  text-align: left;
  padding-left: 20px;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .body .right .name {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .body .right .subject {
  font-size: 12px;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .body .right .university {
  font-size: 12px;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .body .right span.checked {
  color: darkblue;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .footer {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
section.body .header-middle .container .row .col-sm-12 .right-side .tutor-search-result .result-body .container .row .col-sm-12 .result-card .footer .tutorlist-profiile-details {
  width: auto;
  text-decoration: none;
  height: 30px;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  background-color: #7D7D7E;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10%;
}
section.body .header-middle .container .row .col-sm-12 .pagination-sections {
  display: flex;
  justify-content: center;
}
section.body .header-middle .container .row .col-sm-12 .pagination-sections nav ul li a {
  background-color: #7D7D7E;
  color: white;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 15%;
}
section.body .header-middle .container .row .col-sm-12 .request-tutor-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
section.body .header-middle .container .row .col-sm-12 .request-tutor-section .text .title {
  font-size: 20px;
  font-family: sans-serif;
  color: #37474FB8;
  font-weight: bold;
}
section.body .header-middle .container .row .col-sm-12 .request-tutor-section .text .subtitle {
  font-size: 12px;
  font-family: sans-serif;
  color: #37474FB8;
}
section.body .header-middle .container .row .col-sm-12 .request-tutor-section .button-find {
  margin-left: 30px;
}
section.body .header-middle .container .row .col-sm-12 .request-tutor-section .button-find .request-tutor-page .req-tutor {
  width: 200px;
  height: auto;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #37474FB8;
  border-radius: 15%;
}

/*# sourceMappingURL=style.css.map */
