section{
    &.body{
        .container{
            .row{
                .col-sm-12{
                    .middle-about-us{
                        margin-top: 50px;
                        .about-us-section-card{
                            text-align: center;
                            .title{
                                font-size: 22px;
                                font-family: 'Montserrat-Bold';
                                color: #0F0D0D!important;
                                font-weight: bold;
                                margin-bottom: 20px;
                                width: auto!important;
                                background: none!important;
                            }

                            .body{
                                width: 100%;
                                background: #FCFCFC 0% 0% no-repeat padding-box;
                                padding-left: 100px;
                                padding-right: 100px;
                                font-size: 25px;
                                color: #0F0D0D;
                                box-shadow: 0px 3px 6px #0000002B;
                                padding-top: 50px;
                                padding-bottom: 50px;
                                font-size: 15px;
                                font-family: 'Montserrat-Medium';
                                text-align: justify;
                            }
                        }
                    }

                    .meet-the-team-section{
                        margin-top: 50px;
                        .title{
                            font-size: 22px!important;
                            font-family: 'Montserrat-Bold'!important;
                            color: #0F0D0D!important;
                            font-weight: bold;
                            margin-bottom: 50px;
                            text-align: center;
                            width: auto!important;
                            background: none!important;

                        }

                        .team-member-section{
                            width: 100%;
                            background: #FCFCFC 0% 0% no-repeat padding-box;
                            box-shadow: 0px 3px 6px #0000008C;
                            
                            padding-left: 20px;
                            padding-right: 20px;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            .container{
                                .row{
                                    .col-sm-12{
                                        .team-member-card{
                                            display: flex;
                                            align-items: center;
                                            margin-bottom: 20px;
                                            margin-top: 10px;

                                            .left-image{
                                                margin-right: 30px;
                                                img{
                                                    width: 100px;
                                                    height: 100px;
                                                    border-radius: 50%;
                                                }
                                            }
                                            .right-text{
                                                .name{
                                                    font-size: 17px;
                                                    font-family: 'Montserrat-SemiBold';
                                                    color: #37474F;
                                                    
                                                    padding-bottom: 10px;
                                                }
                                                .designation{
                                                    font-size: 15px;
                                                    font-family: 'Montserrat-Medium';
                                                    
                                                    color: #37474F;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}