section {
    &.body {
        .header-middle {
            .container {
                .row {
                    .col-sm-12 {
                        .right-side {
                            .title-faq{
                                margin-top: 30px;
                                margin-bottom: 30px;
                                text-align: center;
                                font-family: "Montserrat-Bold" i !important;
                                font-size: 22px;
                                color: #37474fb8 !important;
                                width: auto !important;
                                background: none !important;
                            }
                            .row {
                                .col-sm-12 {
                                    .faq-section {
                                        .title {

                                        }
                                        .faq-collapse-body {
                                            #accordion {
                                                .card {
                                                    .card-header {
                                                        h5 {
                                                            button {
                                                                color: #37474f;
                                                                font-size: 17px;
                                                                font-family: "Montserrat-Semibold";
                                                            }
                                                        }
                                                    }
                                                    .collapse {
                                                        .card-body {
                                                            font-family: "Montserrat-Medium";
                                                            font-size: 12px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}
