@each $width in $resposive-width {
    @media screen and (max-width: #{$width}px){
        section{
            &.body{
                .header-middle{
                    .container{
                        .row{
                            .col-sm-12{
                                .register-as-tutor{
                                    
                                    .container{
                                        .row{
                                            .col-sm-12{
                                                .image-illustration-section{
                                                    
                                                    form{
                                                        @if($width >= 767){
                                                            display: flex;
                                                            flex-direction: column;
                                                            align-items: center;
                                                            justify-content: center;
                                                        }
                                                        
                                                        input{
                                                           
                                                        }
                                                        .image-preview{
                                                            img{
                                                               
                                                            }
                                                        }
                                                        .file-text-under{
                                                          
                                                        }
                                                        .save-image{
                                                           
                                                        }
                                                    }
                                                }
                                                .right-side-form{
                                                    @if($width >= 767){
                                                        margin-top: 30px;
                                                    }
                                                    
                                                    .title{
                                                        @if($width >= 767){
                                                            text-align: center;
                                                        }
                                                      
                                                    }
        
                                                    .subtitle{
                                                        @if($width >= 767){
                                                            text-align: center;
                                                        }
                                                       
        
                                                    }
        
                                                    .registration-form{
                                                       
                                                        form{
                                                            @if($width >= 767){
                                                                display: flex;
                                                                flex-direction: column;
                                                                justify-content: center;
                                                                align-items: center;
                                                            }
                                                           
                                                            .form-group{
                                                                @if($width >= 767){
                                                                    width: 100%;
                                                                }
                                                                
                                                                .label-gender{
                                                                   
                                                                }
                                                                input{
        
                                                                }
                                                            }
        
                                                            .sign-up-button-reg-tutor{
                                                               
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


